In [1]:
import pandas as pd
import numpy as np

In [3]:
###### 일별 데이터 #######
### 환율 데이터
exchange = pd.read_csv('./../data/1차/한국은행 미일 환율.csv')
date = exchange.columns
date = date[4:len(date)-1]
date.to_list()
#### 일별 데이터 총 갯수 : 5833

['1999/01/04',
 '1999/01/05',
 '1999/01/06',
 '1999/01/07',
 '1999/01/08',
 '1999/01/09',
 '1999/01/11',
 '1999/01/12',
 '1999/01/13',
 '1999/01/14',
 '1999/01/15',
 '1999/01/16',
 '1999/01/18',
 '1999/01/19',
 '1999/01/20',
 '1999/01/21',
 '1999/01/22',
 '1999/01/23',
 '1999/01/25',
 '1999/01/26',
 '1999/01/27',
 '1999/01/28',
 '1999/01/29',
 '1999/01/30',
 '1999/02/01',
 '1999/02/02',
 '1999/02/03',
 '1999/02/04',
 '1999/02/05',
 '1999/02/08',
 '1999/02/09',
 '1999/02/10',
 '1999/02/11',
 '1999/02/12',
 '1999/02/18',
 '1999/02/19',
 '1999/02/22',
 '1999/02/23',
 '1999/02/24',
 '1999/02/25',
 '1999/02/26',
 '1999/03/02',
 '1999/03/03',
 '1999/03/04',
 '1999/03/05',
 '1999/03/08',
 '1999/03/09',
 '1999/03/10',
 '1999/03/11',
 '1999/03/12',
 '1999/03/15',
 '1999/03/16',
 '1999/03/17',
 '1999/03/18',
 '1999/03/19',
 '1999/03/22',
 '1999/03/23',
 '1999/03/24',
 '1999/03/25',
 '1999/03/26',
 '1999/03/29',
 '1999/03/30',
 '1999/03/31',
 '1999/04/01',
 '1999/04/02',
 '1999/04/06',
 '1999/04/07',
 '1999/04/08',
 '1999/04/09',
 '1999/04/12',
 '1999/04/13',
 '1999/04/14',
 '1999/04/15',
 '1999/04/16',
 '1999/04/19',
 '1999/04/20',
 '1999/04/21',
 '1999/04/22',
 '1999/04/23',
 '1999/04/26',
 '1999/04/27',
 '1999/04/28',
 '1999/04/29',
 '1999/04/30',
 '1999/05/03',
 '1999/05/04',
 '1999/05/06',
 '1999/05/07',
 '1999/05/10',
 '1999/05/11',
 '1999/05/12',
 '1999/05/13',
 '1999/05/14',
 '1999/05/17',
 '1999/05/18',
 '1999/05/19',
 '1999/05/20',
 '1999/05/21',
 '1999/05/24',
 '1999/05/25',
 '1999/05/26',
 '1999/05/27',
 '1999/05/28',
 '1999/05/31',
 '1999/06/01',
 '1999/06/02',
 '1999/06/03',
 '1999/06/04',
 '1999/06/07',
 '1999/06/08',
 '1999/06/09',
 '1999/06/10',
 '1999/06/11',
 '1999/06/14',
 '1999/06/15',
 '1999/06/16',
 '1999/06/17',
 '1999/06/18',
 '1999/06/21',
 '1999/06/22',
 '1999/06/23',
 '1999/06/24',
 '1999/06/25',
 '1999/06/28',
 '1999/06/29',
 '1999/06/30',
 '1999/07/01',
 '1999/07/02',
 '1999/07/05',
 '1999/07/06',
 '1999/07/07',
 '1999/07/08',
 '1999/07/09',
 '1999/07/12',
 '1999/07/13',
 '1999/07/14',
 '1999/07/15',
 '1999/07/16',
 '1999/07/19',
 '1999/07/20',
 '1999/07/21',
 '1999/07/22',
 '1999/07/23',
 '1999/07/26',
 '1999/07/27',
 '1999/07/28',
 '1999/07/29',
 '1999/07/30',
 '1999/08/02',
 '1999/08/03',
 '1999/08/04',
 '1999/08/05',
 '1999/08/06',
 '1999/08/09',
 '1999/08/10',
 '1999/08/11',
 '1999/08/12',
 '1999/08/13',
 '1999/08/16',
 '1999/08/17',
 '1999/08/18',
 '1999/08/19',
 '1999/08/20',
 '1999/08/23',
 '1999/08/24',
 '1999/08/25',
 '1999/08/26',
 '1999/08/27',
 '1999/08/30',
 '1999/08/31',
 '1999/09/01',
 '1999/09/02',
 '1999/09/03',
 '1999/09/06',
 '1999/09/07',
 '1999/09/08',
 '1999/09/09',
 '1999/09/10',
 '1999/09/13',
 '1999/09/14',
 '1999/09/15',
 '1999/09/16',
 '1999/09/17',
 '1999/09/20',
 '1999/09/21',
 '1999/09/22',
 '1999/09/27',
 '1999/09/28',
 '1999/09/29',
 '1999/09/30',
 '1999/10/01',
 '1999/10/04',
 '1999/10/05',
 '1999/10/06',
 '1999/10/07',
 '1999/10/08',
 '1999/10/11',
 '1999/10/12',
 '1999/10/13',
 '1999/10/14',
 '1999/10/15',
 '1999/10/18',
 '1999/10/19',
 '1999/10/20',
 '1999/10/21',
 '1999/10/22',
 '1999/10/25',
 '1999/10/26',
 '1999/10/27',
 '1999/10/28',
 '1999/10/29',
 '1999/11/01',
 '1999/11/02',
 '1999/11/03',
 '1999/11/04',
 '1999/11/05',
 '1999/11/08',
 '1999/11/09',
 '1999/11/10',
 '1999/11/11',
 '1999/11/12',
 '1999/11/15',
 '1999/11/16',
 '1999/11/17',
 '1999/11/18',
 '1999/11/19',
 '1999/11/22',
 '1999/11/23',
 '1999/11/24',
 '1999/11/25',
 '1999/11/26',
 '1999/11/29',
 '1999/11/30',
 '1999/12/01',
 '1999/12/02',
 '1999/12/03',
 '1999/12/06',
 '1999/12/07',
 '1999/12/08',
 '1999/12/09',
 '1999/12/10',
 '1999/12/13',
 '1999/12/14',
 '1999/12/15',
 '1999/12/16',
 '1999/12/17',
 '1999/12/20',
 '1999/12/21',
 '1999/12/22',
 '1999/12/23',
 '1999/12/24',
 '1999/12/27',
 '1999/12/28',
 '1999/12/29',
 '1999/12/30',
 '2000/01/04',
 '2000/01/05',
 '2000/01/06',
 '2000/01/07',
 '2000/01/08',
 '2000/01/10',
 '2000/01/11',
 '2000/01/12',
 '2000/01/13',
 '2000/01/14',
 '2000/01/15',
 '2000/01/17',
 '2000/01/18',
 '2000/01/19',
 '2000/01/20',
 '2000/01/21',
 '2000/01/22',
 '2000/01/24',
 '2000/01/25',
 '2000/01/26',
 '2000/01/27',
 '2000/01/28',
 '2000/01/29',
 '2000/01/31',
 '2000/02/01',
 '2000/02/02',
 '2000/02/03',
 '2000/02/07',
 '2000/02/08',
 '2000/02/09',
 '2000/02/10',
 '2000/02/11',
 '2000/02/12',
 '2000/02/14',
 '2000/02/15',
 '2000/02/16',
 '2000/02/17',
 '2000/02/18',
 '2000/02/19',
 '2000/02/21',
 '2000/02/22',
 '2000/02/23',
 '2000/02/24',
 '2000/02/25',
 '2000/02/26',
 '2000/02/28',
 '2000/02/29',
 '2000/03/02',
 '2000/03/03',
 '2000/03/04',
 '2000/03/06',
 '2000/03/07',
 '2000/03/08',
 '2000/03/09',
 '2000/03/10',
 '2000/03/11',
 '2000/03/13',
 '2000/03/14',
 '2000/03/15',
 '2000/03/16',
 '2000/03/17',
 '2000/03/18',
 '2000/03/20',
 '2000/03/21',
 '2000/03/22',
 '2000/03/23',
 '2000/03/24',
 '2000/03/25',
 '2000/03/27',
 '2000/03/28',
 '2000/03/29',
 '2000/03/30',
 '2000/03/31',
 '2000/04/01',
 '2000/04/03',
 '2000/04/04',
 '2000/04/06',
 '2000/04/07',
 '2000/04/08',
 '2000/04/10',
 '2000/04/11',
 '2000/04/12',
 '2000/04/14',
 '2000/04/15',
 '2000/04/17',
 '2000/04/18',
 '2000/04/19',
 '2000/04/20',
 '2000/04/21',
 '2000/04/22',
 '2000/04/24',
 '2000/04/25',
 '2000/04/26',
 '2000/04/27',
 '2000/04/28',
 '2000/04/29',
 '2000/05/02',
 '2000/05/03',
 '2000/05/04',
 '2000/05/06',
 '2000/05/08',
 '2000/05/09',
 '2000/05/10',
 '2000/05/12',
 '2000/05/13',
 '2000/05/15',
 '2000/05/16',
 '2000/05/17',
 '2000/05/18',
 '2000/05/19',
 '2000/05/20',
 '2000/05/22',
 '2000/05/23',
 '2000/05/24',
 '2000/05/25',
 '2000/05/26',
 '2000/05/27',
 '2000/05/29',
 '2000/05/30',
 '2000/05/31',
 '2000/06/01',
 '2000/06/02',
 '2000/06/03',
 '2000/06/05',
 '2000/06/07',
 '2000/06/08',
 '2000/06/09',
 '2000/06/10',
 '2000/06/12',
 '2000/06/13',
 '2000/06/14',
 '2000/06/15',
 '2000/06/16',
 '2000/06/17',
 '2000/06/19',
 '2000/06/20',
 '2000/06/21',
 '2000/06/22',
 '2000/06/23',
 '2000/06/24',
 '2000/06/26',
 '2000/06/27',
 '2000/06/28',
 '2000/06/29',
 '2000/06/30',
 '2000/07/01',
 '2000/07/03',
 '2000/07/04',
 '2000/07/05',
 '2000/07/06',
 '2000/07/07',
 '2000/07/08',
 '2000/07/10',
 '2000/07/11',
 '2000/07/12',
 '2000/07/13',
 '2000/07/14',
 '2000/07/15',
 '2000/07/18',
 '2000/07/19',
 '2000/07/20',
 '2000/07/21',
 '2000/07/22',
 '2000/07/24',
 '2000/07/25',
 '2000/07/26',
 '2000/07/27',
 '2000/07/28',
 '2000/07/29',
 '2000/07/31',
 '2000/08/01',
 '2000/08/02',
 '2000/08/03',
 '2000/08/04',
 '2000/08/05',
 '2000/08/07',
 '2000/08/08',
 '2000/08/09',
 '2000/08/10',
 '2000/08/11',
 '2000/08/12',
 '2000/08/14',
 '2000/08/16',
 '2000/08/17',
 '2000/08/18',
 '2000/08/19',
 '2000/08/21',
 '2000/08/22',
 '2000/08/23',
 '2000/08/24',
 '2000/08/25',
 '2000/08/26',
 '2000/08/28',
 '2000/08/29',
 '2000/08/30',
 '2000/08/31',
 '2000/09/01',
 '2000/09/02',
 '2000/09/04',
 '2000/09/05',
 '2000/09/06',
 '2000/09/07',
 '2000/09/08',
 '2000/09/09',
 '2000/09/14',
 '2000/09/15',
 '2000/09/16',
 '2000/09/18',
 '2000/09/19',
 '2000/09/20',
 '2000/09/21',
 '2000/09/22',
 '2000/09/23',
 '2000/09/25',
 '2000/09/26',
 '2000/09/27',
 '2000/09/28',
 '2000/09/29',
 '2000/09/30',
 '2000/10/02',
 '2000/10/04',
 '2000/10/05',
 '2000/10/06',
 '2000/10/07',
 '2000/10/09',
 '2000/10/10',
 '2000/10/11',
 '2000/10/12',
 '2000/10/13',
 '2000/10/14',
 '2000/10/16',
 '2000/10/17',
 '2000/10/18',
 '2000/10/19',
 '2000/10/20',
 '2000/10/21',
 '2000/10/23',
 '2000/10/24',
 '2000/10/25',
 '2000/10/26',
 '2000/10/27',
 '2000/10/28',
 '2000/10/30',
 '2000/10/31',
 '2000/11/01',
 '2000/11/02',
 '2000/11/03',
 '2000/11/04',
 '2000/11/06',
 '2000/11/07',
 '2000/11/08',
 '2000/11/09',
 '2000/11/10',
 '2000/11/11',
 '2000/11/13',
 '2000/11/14',
 '2000/11/15',
 '2000/11/16',
 '2000/11/17',
 '2000/11/18',
 '2000/11/20',
 '2000/11/21',
 '2000/11/22',
 '2000/11/23',
 '2000/11/24',
 '2000/11/25',
 '2000/11/27',
 '2000/11/28',
 '2000/11/29',
 '2000/11/30',
 '2000/12/01',
 '2000/12/04',
 '2000/12/05',
 '2000/12/06',
 '2000/12/07',
 '2000/12/08',
 '2000/12/11',
 '2000/12/12',
 '2000/12/13',
 '2000/12/14',
 '2000/12/15',
 '2000/12/18',
 '2000/12/19',
 '2000/12/20',
 '2000/12/21',
 '2000/12/22',
 '2000/12/26',
 '2000/12/27',
 '2000/12/28',
 '2000/12/29',
 '2001/01/02',
 '2001/01/03',
 '2001/01/04',
 '2001/01/05',
 '2001/01/08',
 '2001/01/09',
 '2001/01/10',
 '2001/01/11',
 '2001/01/12',
 '2001/01/15',
 '2001/01/16',
 '2001/01/17',
 '2001/01/18',
 '2001/01/19',
 '2001/01/22',
 '2001/01/26',
 '2001/01/29',
 '2001/01/30',
 '2001/01/31',
 '2001/02/01',
 '2001/02/02',
 '2001/02/05',
 '2001/02/06',
 '2001/02/07',
 '2001/02/08',
 '2001/02/09',
 '2001/02/12',
 '2001/02/13',
 '2001/02/14',
 '2001/02/15',
 '2001/02/16',
 '2001/02/19',
 '2001/02/20',
 '2001/02/21',
 '2001/02/22',
 '2001/02/23',
 '2001/02/26',
 '2001/02/27',
 '2001/02/28',
 '2001/03/02',
 '2001/03/05',
 '2001/03/06',
 '2001/03/07',
 '2001/03/08',
 '2001/03/09',
 '2001/03/12',
 '2001/03/13',
 '2001/03/14',
 '2001/03/15',
 '2001/03/16',
 '2001/03/19',
 '2001/03/20',
 '2001/03/21',
 '2001/03/22',
 '2001/03/23',
 '2001/03/26',
 '2001/03/27',
 '2001/03/28',
 '2001/03/29',
 '2001/03/30',
 '2001/04/02',
 '2001/04/03',
 '2001/04/04',
 '2001/04/06',
 '2001/04/09',
 '2001/04/10',
 '2001/04/11',
 '2001/04/12',
 '2001/04/13',
 '2001/04/16',
 '2001/04/17',
 '2001/04/18',
 '2001/04/19',
 '2001/04/20',
 '2001/04/23',
 '2001/04/24',
 '2001/04/25',
 '2001/04/26',
 '2001/04/27',
 '2001/04/30',
 '2001/05/02',
 '2001/05/03',
 '2001/05/04',
 '2001/05/07',
 '2001/05/08',
 '2001/05/09',
 '2001/05/10',
 '2001/05/11',
 '2001/05/14',
 '2001/05/15',
 '2001/05/16',
 '2001/05/17',
 '2001/05/18',
 '2001/05/21',
 '2001/05/22',
 '2001/05/23',
 '2001/05/24',
 '2001/05/25',
 '2001/05/28',
 '2001/05/29',
 '2001/05/30',
 '2001/05/31',
 '2001/06/01',
 '2001/06/04',
 '2001/06/05',
 '2001/06/07',
 '2001/06/08',
 '2001/06/11',
 '2001/06/12',
 '2001/06/13',
 '2001/06/14',
 '2001/06/15',
 '2001/06/18',
 '2001/06/19',
 '2001/06/20',
 '2001/06/21',
 '2001/06/22',
 '2001/06/25',
 '2001/06/26',
 '2001/06/27',
 '2001/06/28',
 '2001/06/29',
 '2001/07/02',
 '2001/07/03',
 '2001/07/04',
 '2001/07/05',
 '2001/07/06',
 '2001/07/09',
 '2001/07/10',
 '2001/07/11',
 '2001/07/12',
 '2001/07/13',
 '2001/07/16',
 '2001/07/18',
 '2001/07/19',
 '2001/07/20',
 '2001/07/23',
 '2001/07/24',
 '2001/07/25',
 '2001/07/26',
 '2001/07/27',
 '2001/07/30',
 '2001/07/31',
 '2001/08/01',
 '2001/08/02',
 '2001/08/03',
 '2001/08/06',
 '2001/08/07',
 '2001/08/08',
 '2001/08/09',
 '2001/08/10',
 '2001/08/13',
 '2001/08/14',
 '2001/08/16',
 '2001/08/17',
 '2001/08/20',
 '2001/08/21',
 '2001/08/22',
 '2001/08/23',
 '2001/08/24',
 '2001/08/27',
 '2001/08/28',
 '2001/08/29',
 '2001/08/30',
 '2001/08/31',
 '2001/09/03',
 '2001/09/04',
 '2001/09/05',
 '2001/09/06',
 '2001/09/07',
 '2001/09/10',
 '2001/09/11',
 '2001/09/12',
 '2001/09/13',
 '2001/09/14',
 '2001/09/17',
 '2001/09/18',
 '2001/09/19',
 '2001/09/20',
 '2001/09/21',
 '2001/09/24',
 '2001/09/25',
 '2001/09/26',
 '2001/09/27',
 '2001/09/28',
 '2001/10/04',
 '2001/10/05',
 '2001/10/08',
 '2001/10/09',
 '2001/10/10',
 '2001/10/11',
 '2001/10/12',
 '2001/10/15',
 '2001/10/16',
 '2001/10/17',
 '2001/10/18',
 '2001/10/19',
 '2001/10/22',
 '2001/10/23',
 '2001/10/24',
 '2001/10/25',
 '2001/10/26',
 '2001/10/29',
 '2001/10/30',
 '2001/10/31',
 '2001/11/01',
 '2001/11/02',
 '2001/11/05',
 '2001/11/06',
 '2001/11/07',
 '2001/11/08',
 '2001/11/09',
 '2001/11/12',
 '2001/11/13',
 '2001/11/14',
 '2001/11/15',
 '2001/11/16',
 '2001/11/19',
 '2001/11/20',
 '2001/11/21',
 '2001/11/22',
 '2001/11/23',
 '2001/11/26',
 '2001/11/27',
 '2001/11/28',
 '2001/11/29',
 '2001/11/30',
 '2001/12/03',
 '2001/12/04',
 '2001/12/05',
 '2001/12/06',
 '2001/12/07',
 '2001/12/10',
 '2001/12/11',
 '2001/12/12',
 '2001/12/13',
 '2001/12/14',
 '2001/12/17',
 '2001/12/18',
 '2001/12/19',
 '2001/12/20',
 '2001/12/21',
 '2001/12/24',
 '2001/12/26',
 '2001/12/27',
 '2001/12/28',
 '2001/12/31',
 '2002/01/02',
 '2002/01/03',
 '2002/01/04',
 '2002/01/07',
 '2002/01/08',
 '2002/01/09',
 '2002/01/10',
 '2002/01/11',
 '2002/01/14',
 '2002/01/15',
 '2002/01/16',
 '2002/01/17',
 '2002/01/18',
 '2002/01/21',
 '2002/01/22',
 '2002/01/23',
 '2002/01/24',
 '2002/01/25',
 '2002/01/28',
 '2002/01/29',
 '2002/01/30',
 '2002/01/31',
 '2002/02/01',
 '2002/02/04',
 '2002/02/05',
 '2002/02/06',
 '2002/02/07',
 '2002/02/08',
 '2002/02/14',
 '2002/02/15',
 '2002/02/18',
 '2002/02/19',
 '2002/02/20',
 '2002/02/21',
 '2002/02/22',
 '2002/02/25',
 '2002/02/26',
 '2002/02/27',
 '2002/02/28',
 '2002/03/04',
 '2002/03/05',
 '2002/03/06',
 '2002/03/07',
 '2002/03/08',
 '2002/03/11',
 '2002/03/12',
 '2002/03/13',
 '2002/03/14',
 '2002/03/15',
 '2002/03/18',
 '2002/03/19',
 '2002/03/20',
 '2002/03/21',
 '2002/03/22',
 '2002/03/25',
 '2002/03/26',
 '2002/03/27',
 '2002/03/28',
 '2002/03/29',
 '2002/04/01',
 '2002/04/02',
 '2002/04/03',
 '2002/04/04',
 '2002/04/08',
 '2002/04/09',
 '2002/04/10',
 '2002/04/11',
 '2002/04/12',
 '2002/04/15',
 '2002/04/16',
 '2002/04/17',
 '2002/04/18',
 '2002/04/19',
 '2002/04/22',
 '2002/04/23',
 '2002/04/24',
 '2002/04/25',
 '2002/04/26',
 '2002/04/29',
 '2002/04/30',
 '2002/05/02',
 '2002/05/03',
 '2002/05/06',
 '2002/05/07',
 '2002/05/08',
 '2002/05/09',
 '2002/05/10',
 '2002/05/13',
 '2002/05/14',
 '2002/05/15',
 '2002/05/16',
 '2002/05/17',
 '2002/05/20',
 '2002/05/21',
 '2002/05/22',
 '2002/05/23',
 '2002/05/24',
 '2002/05/27',
 '2002/05/28',
 '2002/05/29',
 '2002/05/30',
 '2002/05/31',
 '2002/06/03',
 '2002/06/04',
 '2002/06/05',
 '2002/06/07',
 '2002/06/10',
 '2002/06/11',
 '2002/06/12',
 '2002/06/14',
 '2002/06/17',
 '2002/06/18',
 '2002/06/19',
 '2002/06/20',
 '2002/06/21',
 '2002/06/24',
 '2002/06/25',
 '2002/06/26',
 '2002/06/27',
 '2002/06/28',
 '2002/07/02',
 '2002/07/03',
 '2002/07/04',
 '2002/07/05',
 '2002/07/08',
 '2002/07/09',
 '2002/07/10',
 '2002/07/11',
 '2002/07/12',
 '2002/07/15',
 '2002/07/16',
 '2002/07/18',
 '2002/07/19',
 '2002/07/22',
 '2002/07/23',
 '2002/07/24',
 '2002/07/25',
 '2002/07/26',
 '2002/07/29',
 '2002/07/30',
 '2002/07/31',
 '2002/08/01',
 '2002/08/02',
 '2002/08/05',
 '2002/08/06',
 '2002/08/07',
 '2002/08/08',
 '2002/08/09',
 '2002/08/12',
 '2002/08/13',
 '2002/08/14',
 '2002/08/16',
 '2002/08/19',
 '2002/08/20',
 '2002/08/21',
 '2002/08/22',
 '2002/08/23',
 '2002/08/26',
 '2002/08/27',
 '2002/08/28',
 '2002/08/29',
 '2002/08/30',
 '2002/09/02',
 '2002/09/03',
 '2002/09/04',
 '2002/09/05',
 '2002/09/06',
 '2002/09/09',
 '2002/09/10',
 '2002/09/11',
 '2002/09/12',
 '2002/09/13',
 '2002/09/16',
 '2002/09/17',
 '2002/09/18',
 '2002/09/19',
 '2002/09/23',
 '2002/09/24',
 '2002/09/25',
 '2002/09/26',
 '2002/09/27',
 '2002/09/30',
 '2002/10/01',
 '2002/10/02',
 '2002/10/04',
 '2002/10/07',
 '2002/10/08',
 '2002/10/09',
 '2002/10/10',
 '2002/10/11',
 '2002/10/14',
 '2002/10/15',
 '2002/10/16',
 '2002/10/17',
 '2002/10/18',
 '2002/10/21',
 '2002/10/22',
 '2002/10/23',
 '2002/10/24',
 '2002/10/25',
 '2002/10/28',
 '2002/10/29',
 '2002/10/30',
 '2002/10/31',
 '2002/11/01',
 '2002/11/04',
 '2002/11/05',
 '2002/11/06',
 ...]

In [4]:
USD_KRW = exchange.loc[0][4:len(exchange.loc[0]) - 1].values
YEN_KRW = exchange.loc[1][4:len(exchange.loc[1]) - 1].values
USD_KRW, YEN_KRW

(array(['1,195.80', '1,189.90', '1,167.50', ..., '1,237.10', '1,236.40',
        '1,241.70'], dtype=object),
 array(['1,059.45', '1,060.99', '1,041.02', ..., '967.13', '963.42',
        '964.61'], dtype=object))

In [6]:
####### 시장금리(cd) & 국고채(3년물) #########
cd = pd.read_excel("./../data/1차/한국은행 CD&국고채3년 일별금리.xlsx")
cd

/Users/yuseonjong/miniforge3/envs/tf/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,통계표,항목명1,단위,변환,1999/01/04,1999/01/05,1999/01/06,1999/01/07,1999/01/08,1999/01/09,...,2022/04/12,2022/04/13,2022/04/14,2022/04/15,2022/04/18,2022/04/19,2022/04/20,2022/04/21,2022/04/22,2022/04/25
0,4.1.1 시장금리(일별),CD(91일),연%,원자료,7.67,7.53,7.48,7.28,7.18,7.17,...,1.510,1.510,1.720,1.720,1.72,1.720,1.720,1.720,1.720,1.720
1,4.1.1 시장금리(일별),국고채(3년),연%,원자료,6.78,6.39,6.28,5.97,5.93,5.93,...,3.105,3.001,2.888,2.944,2.99,2.981,2.957,2.927,2.971,2.857

In [7]:
KOR_cd_rate = cd.loc[0][4:len(cd.loc[0])].values
KOR_gov_rate = cd.loc[1][4:len(cd.loc[1])].values
KOR_cd_rate, KOR_gov_rate

(array([7.67, 7.53, 7.48, ..., 1.72, 1.72, 1.72], dtype=object),
 array([6.78, 6.39, 6.28, ..., 2.927, 2.971, 2.857], dtype=object))

In [8]:
### 월별 데이터 ###
price = pd.read_excel("./../data/1차/imf 한미일 물가 지수.xlsx")
KOR_M1 = pd.read_excel("./../data/1차/imf 국내 국제 유동성(통화량).xlsx")
JP_M1 = pd.read_excel("./../data/1차/imf 일본 국제 유동성(통화량).xlsx")


price

,Unnamed: 0,Jan 1999,Feb 1999,Mar 1999,Apr 1999,May 1999,Jun 1999,Jul 1999,Aug 1999,Sep 1999,...,Jun 2021,Jul 2021,Aug 2021,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022
0,Canada,91.500000,91.60000,92.000000,92.500000,92.700000,92.900000,93.100000,93.300000,93.600000,...,141.400000,142.30000,142.60000,142.900000,143.900000,144.200000,144.000000,145.300000,146.800000,NaN
1,France,77.970000,78.21000,78.470000,78.690000,78.700000,78.690000,78.480000,78.610000,78.740000,...,106.340000,106.40000,107.05000,106.810000,107.250000,107.640000,107.850000,108.120000,108.940000,NaN
2,Germany,78.259000,78.35227,78.352270,78.725380,78.725380,78.818660,79.191760,79.098490,78.911930,...,109.100000,110.10000,110.10000,110.100000,110.700000,110.500000,111.100000,111.500000,112.500000,115.300000
3,Italy,72.462320,72.59541,72.728490,72.928100,73.061180,73.061180,73.260800,73.327350,73.460430,...,104.200000,104.70000,105.10000,104.900000,105.600000,106.200000,106.600000,108.300000,109.300000,110.400000
4,Japan,98.140104,97.74715,97.845389,98.336580,98.336580,98.041865,97.648912,97.943627,98.238342,...,99.500000,99.70000,99.70000,100.100000,99.900000,100.100000,100.100000,100.300000,100.700000,NaN
5,"Korea, Rep. of",61.297000,61.55700,61.660000,61.816000,61.712000,61.349000,61.140000,61.765000,61.921000,...,102.050000,102.26000,102.75000,103.170000,103.350000,103.870000,104.040000,104.690000,105.300000,106.060000
6,Russian Federation,22.121860,23.03549,23.678180,24.395630,24.937220,25.413520,26.130180,26.433290,26.824500,...,199.171300,199.78870,200.12830,201.329100,203.563900,205.518100,207.203300,209.254600,211.702900,NaN
7,United Kingdom,71.800000,71.90000,72.300000,72.600000,72.800000,72.700000,72.400000,72.600000,72.800000,...,111.400000,111.40000,112.10000,112.400000,113.400000,114.100000,114.700000,114.600000,115.400000,116.500000
8,United States,75.347790,75.43951,75.668809,76.219128,76.219128,76.219128,76.448427,76.631867,76.998746,...,124.599471,125.19886,125.45751,125.798249,126.843395,127.466631,127.858275,128.934147,130.111829,131.849002

In [9]:
### 분기 데이터 ###
KOR_TB = pd.read_excel("./../data/1차/imf 국내 경상수지(분기).xlsx")
KOR_GDP = pd.read_excel("./../data/1차/imf 국내 GDP(분기).xlsx")
JP_TB = pd.read_excel("./../data/1차/imf 일본 경상수지(분기).xlsx")
JP_GDP = pd.read_excel("./../data/1차/imf 일본 GDP(분기).xlsx")

In [10]:
KOR_tb = KOR_TB.iloc[4].values[1:]
KOR_tb

array([5438.2, 5842.8, 4789.1, 5714.5, -266.9, 2653.9, 3873.8, 3920,
       303.9, 1675.4, 16.2, 169.7, 300, 344.2, 755.1, 2666.8, -3076.7,
       37.6, 4867.3, 9480.1, 5227.7, 6771.7, 7920.5, 9370, 3466, -230,
       2320.1, 6652.5, -4948.5, -1282.8, 849.5, 7476.6, -1675.3, -2954.4,
       9105.3, 5996.9, -1951.4, -5267.3, -4637.7, 13609.4, 10974.8,
       9533.3, 5354.9, 7224.6, -1181.7, 11198.4, 11514.8, 6419, -4253,
       -2470.6, 11405.6, 11956.2, -1292, 10940.3, 16477.8, 22664.5,
       11705.1, 21472.9, 21201.6, 22879.3, 12833, 23792.6, 20411.4,
       25992.6, 22973.9, 26726.6, 28086.9, 27331.2, 26367.7, 27085,
       21759.4, 22711.6, 15980.6, 14455, 25944.5, 18850.8, 10994, 18262.8,
       28691.1, 19518.6, 10549.9, 10621.9, 19955, 18549.3, 12718.5,
       4957.6, 24487.2, 33738.9, 22337.8, 19418, 25653.3, 20893.1],
      dtype=object)

In [11]:
KOR_M1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282,Unnamed: 283
0,NaN,International Liquidity selected indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Korea, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Source: International Financial Statistics (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Metadata by Country (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Indicator,NaN,Scale,Base Year,1999M01,1999M02,1999M03,1999M04,1999M05,...,2021M06,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03
7,NaN,"International Liquidity, Total Reserves exclud...",RAXG_USD,Millions,NaN,53531.433445,55390.546014,57385.166016,59197.202779,61342.00272,...,448131.287768,452713.795151,457985.994959,457948.887899,463271.289451,457996.289518,457169.379937,455583.882483,455833.577101,...
8,NaN,"International Reserves, Official Reserve Asset...",RAFASDR_USD,Millions,NaN,289.246254,13.540187,13.463612,13.075786,10.808331,...,3501.370673,3507.133736,15211.731183,15329.850758,15542.917311,15381.231896,15369.435146,15286.44463,15321.135211,15405.412053
9,NaN,"International Reserves, Official Reserve Asset...",RAFAIMF_USD,Millions,NaN,0.08719,284.805826,283.202404,281.826993,279.894389,...,3400.499094,3491.822415,3480.786776,3419.237141,3519.95614,3483.685622,3480.696791,3461.270853,3468.93289,3437.935099
10,NaN,"International Liquidity, Total Reserves exclud...",RAXGFX_USD,Millions,NaN,53242.1,55092.2,57088.5,58902.3,61051.3,...,441229.418,445714.839,439293.477,439199.8,444208.416,439131.372,438319.248,436836.167,437043.509,...
11,NaN,"International Reserves, Official Reserve Asset...",RAFAGOLDV_OZT,Millions,NaN,0.434549,0.434549,0.434549,0.434549,0.435771,...,3.358016,3.358016,3.358016,3.358016,3.358016,3.358016,3.358016,3.358016,3.358016,...
12,NaN,"International Liquidity, Gold Holdings, Nation...",RAFAGOLDNV_USD,Millions,NaN,66.3,66.3,66.3,66.3,66.7,...,4794.8,4794.8,4794.8,4794.8,4794.8,4794.8,4794.8,4794.8,4794.8,...
13,NaN,"Monetary, Central Bank Survey, Net Foreign Ass...",FASAFOIL_USD,Millions,NaN,...,...,...,...,...,...,1259.852977,1083.404121,1015.467031,971.153585,954.109272,902.965571,1164.150686,1304.721327,...,...
14,NaN,"Monetary, Central Bank Survey, Net Foreign Ass...",FASLFOIL_USD,Millions,NaN,...,...,...,...,...,...,56612.925752,57095.484661,55501.131999,56937.551777,59061.441581,57810.114044,59599.260312,57614.259065,...,...

In [12]:
KOR_m1 = KOR_M1.iloc[7]
KOR_m1

Unnamed: 0                                                    NaN
Unnamed: 1      International Liquidity, Total Reserves exclud...
Unnamed: 2                                               RAXG_USD
Unnamed: 3                                               Millions
Unnamed: 4                                                    NaN
                                      ...
Unnamed: 279                                        457996.289518
Unnamed: 280                                        457169.379937
Unnamed: 281                                        455583.882483
Unnamed: 282                                        455833.577101
Unnamed: 283                                                  ...
Name: 7, Length: 284, dtype: object

In [13]:
KOR_GDP

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,NaN,Gross Domestic Product and Components selected...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Korea, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Source: International Financial Statistics (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Metadata by Country (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Indicator,NaN,Base Year,Scale,2020,1999Q1,1999Q2,1999Q3,1999Q4,...,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
7,NaN,"National Accounts, Current Prices, Unadjusted","National Accounts, Current Prices, Unadjusted",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,NaN,"Gross Domestic Product, Nominal, Undjusted, Do...",NGDP_NSA_XDC,NaN,NaN,...,133692300,143533400,152776000,161451300,...,488722200,499282000,459481400,474083400,493519300,506068300,480411900,510299900,524998800,541737100
9,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_NSA_XDC,NaN,NaN,...,74597900,74416100,78263300,83899600,...,235268700,241622600,222339700,219670300,227349100,228090100,228214500,233828400,240443600,250043500
10,NaN,"Government Consumption Expenditure, Nominal, U...",NCGG_NSA_XDC,NaN,NaN,...,15844900,14442200,16955700,18269100,...,80247600,83524200,88984200,89224600,84667000,86246700,92562500,95538400,91353700,95228200
11,NaN,"Gross Fixed Capital Formation, Nominal, Undjus...",NFI_NSA_XDC,NaN,NaN,...,35068900,45565800,46359200,50400100,...,143331900,158700500,133442600,156663000,149177000,162182400,140524000,168318900,160075200,177247900
12,NaN,"Change in Inventories, Nominal, Undjusted, Dom...",NINV_NSA_XDC,NaN,NaN,...,1458500,-1224000,5290500,507300,...,14698100,-107000,4245300,1142900,9187100,-118400,-33600,-5188800,10486000,3187400
13,NaN,"Exports of Goods and Services, Nominal, Undjus...",NX_NSA_XDC,NaN,NaN,...,41754300,47823400,46872800,56308800,...,191991500,196198700,181907600,155651000,177965500,189029900,187802900,203748500,220671200,246202300
14,NaN,"Imports of Goods and Services, Nominal, Undjus...",NM_NSA_XDC,NaN,NaN,...,35067300,37898700,40637200,47106000,...,177259100,179923200,171763800,147590500,155141900,158991300,169060400,185502300,198990600,229144500
15,NaN,"Statistical Discrepancy in GDP, Nominal, Undju...",NSDGDP_NSA_XDC,NaN,NaN,...,35100,408500,-328200,-827700,...,443600,-733700,325800,-677800,315400,-371100,402000,-443000,959900,-1027700
16,NaN,"National Accounts, Constant Prices, Unadjusted","National Accounts, Constant Prices, Unadjusted",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,NaN,"Gross Domestic Product, Real, Undjusted, Domes...",NGDP_R_NSA_XDC,NaN,NaN,...,186867200,206407900,210992100,224216100,...,463956200,489418000,443718700,449744800,459303800,484113800,452308400,476547400,477568700,504320600
18,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_R_NSA_XDC,NaN,NaN,...,113804700,111499700,117174700,125509500,...,223643600,229541800,212467000,208642300,213594000,214368800,215073600,216275000,220548100,227873200
19,NaN,"Government Consumption Expenditure, Real, Undj...",NCGG_R_NSA_XDC,NaN,NaN,...,29436000,27208700,28307800,29998700,...,71562900,78370900,83509600,80782700,74866300,80162700,85407500,85051100,79704200,86808400
20,NaN,"Gross Fixed Capital Formation, Real, Undjusted...",NFI_R_NSA_XDC,NaN,NaN,...,53046300,67396300,70847200,77189500,...,132667300,146796700,122871600,144568700,136646700,148642800,127787300,149992800,138674600,150432500
21,NaN,"Change in Inventories, Real, Undjusted, Domest...",NINV_R_NSA_XDC,NaN,NaN,...,1916000,5574200,3625200,-1564000,...,7996400,2910600,4622400,1201500,5255700,2936000,538300,-4422800,6703500,4579300
22,NaN,"Exports of Goods and Services, Real, Undjusted...",NX_R_NSA_XDC,NaN,NaN,...,40997800,46810700,46215700,53142300,...,199802700,208909000,189482000,166614200,195304300,213615100,199107400,203987300,209303000,228204100
23,NaN,"Imports of Goods and Services, Real, Undjusted...",NM_R_NSA_XDC,NaN,NaN,...,43351300,46170600,47303600,53034100,...,171126000,176939400,168908000,153080700,165132700,174603800,175806400,174010300,176049200,192435700
24,NaN,"Statistical Discrepancy in GDP, Real, Undjuste...",NSDGDP_R_NSA_XDC,NaN,NaN,...,-167400,-286400,-152800,-275700,...,-878300,-396700,295000,-148000,-357600,410200,714900,391300,76200,504000
25,NaN,"National Accounts, Current Prices, Seasonally ...","National Accounts, Current Prices, Seasonally ...",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,NaN,"Gross Domestic Product, Nominal, Seasonally Ad...",NGDP_SA_XDC,NaN,NaN,...,140076000,143640400,151717300,156019200,...,482285700,485821000,479344300,474669500,487038500,492100100,501248100,511003200,518021300,526257600
27,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_SA_XDC,NaN,NaN,...,73160500,75493700,79486400,83036300,...,234233600,237305600,222364200,224806600,226321400,223957000,227589500,239519800,239708400,245609300
28,NaN,"Govenment Final Consumption Expenditure, Nomin...",NCGG_SA_XDC,NaN,NaN,...,15666400,16043900,16709600,17092100,...,82819000,85000500,86430900,87396300,87520800,87774500,89713400,93552000,94486900,96894200
29,NaN,"Gross Fixed Capital Formation, Nominal, Season...",NFI_SA_XDC,NaN,NaN,...,41543800,43856500,44938600,47055000,...,144870500,148553700,150143600,149082100,150998600,151240700,156855600,160143600,162125400,165112100
30,NaN,"Change in Inventories, Nominal, Seasonally Adj...",NINV_SA_XDC,NaN,NaN,...,335700,-727300,4267900,2156000,...,7145400,1877600,1174500,9093600,1422200,2766700,187200,4305600,2404600,6012200
31,NaN,"Exports of Goods and Services, Nominal, Season...",NX_SA_XDC,NaN,NaN,...,44232800,47187600,48234000,53104900,...,192836800,188194000,189093800,155670700,178685900,181103600,195282200,203788000,221543300,235811600
32,NaN,"Imports of Goods and Services, Nominal, Season...",NM_SA_XDC,NaN,NaN,...,34651200,38084000,41696700,46277300,...,179496000,175082200,170280200,151213000,157158400,154835900,167801700,190041800,201569300,223194300
33,NaN,"Statistical Discrepancy in GDP, Nominal, Seaso...",NSDGDP_SA_XDC,NaN,NaN,...,-211800,-130100,-222500,-147800,...,-123700,-28100,417500,-166800,-752000,93600,-578200,-264000,-678100,12600
34,NaN,"National Accounts, Constant Prices, Seasonally...","National Accounts, Constant Prices, Seasonally...",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,NaN,"Gross Domestic Product, Real, Seasonally Adjus...",NGDP_R_SA_XDC,NaN,NaN,...,196298800,204902900,210601600,216680100,...,463803600,469779500,463853200,449238400,459271800,464517700,472602200,476244600,477726500,483565500
36,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_R_SA_XDC,NaN,NaN,...,111021500,114580400,119130300,123256500,...,223946100,225854600,210904700,213410500,213778800,210978100,213544500,221145500,220702700,224315600
37,NaN,"Govenment Final Consumption Expenditure, Real,...",NCGG_R_SA_XDC,NaN,NaN,...,28205200,28580100,28984000,29182000,...,76608700,78038100,79270000,80050400,80167100,79833800,81092000,84290800,85347500,86446100
38,NaN,"Gross Fixed Capital Formation, Real, Seasonall...",NFI_R_SA_XDC,NaN,NaN,...,63186600,66300600,68056500,70935600,...,133190500,138082700,138526500,137333200,137214800,139655400,143147100,142524100,139369300,141399400
39,NaN,"Change in Inventories, Real, Seasonally Adjust...",NINV_R_SA_XDC,NaN,NaN,...,1459200,3207700,2801100,2083500,...,4017600,-287000,4895200,7743500,1547700,-170900,1266400,2524000,2494200,799100
40,NaN,"Exports of Goods and Services, Real, Seasonall...",NX_R_SA_XDC,NaN,NaN,...,43309200,46063100,47329300,50464900,...,199170500,200245600,198696700,167188000,194414700,204716300,208811500,204704600,208302200,218724500
41,NaN,"Imports of Goods and Services, Real, Seasonall...",NM_R_SA_XDC,NaN,NaN,...,43215200,46352100,48195700,52096700,...,172899200,171830900,167443200,157704800,167043700,169533600,174387100,179354000,178128800,186755000
42,NaN,"Statistical Discrepancy in GDP, Real, Seasonal...",NSDGDP_R_SA_XDC,NaN,NaN,...,-514700,-537700,-59600,229700,...,-613200,-621200,-124200,21900,-102200,404100,772700,926600,782500,219200
43,NaN,"Gross Domestic Product, Deflator, Seasonally A...",NGDP_D_SA_IX,NaN,NaN,...,76.976281,75.620464,77.711318,77.67296,...,112.171133,111.556032,111.475094,113.979118,114.394291,114.27784,114.411015,115.745574,116.971248,117.396165

In [14]:
JP_TB

,Japan: Balance of Payments Analytic Presentation by Country,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92
0,Millions of U.S. Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Click here for country specific metadata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1999Q1,1999Q2,1999Q3,1999Q4,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,...,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
4,Current account (excludes reserves and related...,26013.330916,27652.944128,30543.052334,29917.104055,34216.876363,35927.952856,36046.28288,24499.361929,26946.518405,...,51104.857075,32238.675169,48242.803686,7661.858365,45303.134832,45828.621272,55186.937107,33468.084712,38463.113884,15372.781015
5,"Goods, credit (exports)",92810.72397,91910.327811,102562.646947,111641.866678,109648.776465,113354.871107,116232.940304,115064.169376,101685.549945,...,174497.580307,177350.874197,165529.219003,129464.193576,153923.572696,181583.364643,180398.518144,184211.794014,187855.62733,196663.142938
6,"Goods, debit (imports)",62783.698437,63435.708397,69104.290531,79186.86824,79278.064493,81893.296144,84153.422595,91008.265618,82412.910143,...,175639.140847,175139.953493,162088.79012,143854.438029,140234.385933,157675.817959,167428.255692,175909.438437,188014.526279,201898.975359
7,Balance on goods,30027.025534,28474.619414,33458.356416,32454.998438,30370.711972,31461.574963,32079.517709,24055.903758,19272.639802,...,-1141.56054,2210.920704,3440.428883,-14390.244452,13689.186763,23907.546684,12970.262452,8302.355578,-158.898949,-5235.832421
8,"Services, credit (exports)",15610.09196,14762.078523,14406.495274,16377.283095,17426.054814,16762.633213,17803.939611,17429.756105,17494.73541,...,50493.595109,52266.309997,47509.48472,39745.394899,36447.623987,40088.223224,44216.343956,42610.181058,40958.518575,42243.902066
9,"Services, debit (imports)",27959.107475,27325.931131,30056.79242,31064.539364,28699.302102,28952.505323,30663.309226,29983.773772,28535.35548,...,54863.339835,54686.733379,53199.113401,51904.856528,45055.322554,47876.028093,48982.133023,57039.895531,50303.266472,52094.995005
10,Balance on goods and services,17678.010018,15910.766805,17808.05927,17767.742169,19097.464685,19271.702854,19220.148094,11501.886091,8232.019732,...,-5511.305266,-209.502678,-2249.199798,-26549.706081,5081.488197,16119.741815,8204.473385,-6127.358896,-9503.646846,-15086.925361
11,"Primary income, credit",25007.488573,22500.446088,23263.305285,23085.033965,28849.502173,28055.849354,28093.678645,25212.097018,29877.726224,...,84792.99945,69923.127786,76042.75888,68692.949418,69718.19172,62601.857138,73028.048926,75172.874305,72322.110589,64964.904261
12,"Primary income, debit",10998.016354,8995.507409,8223.393435,8538.557131,10387.495152,9619.006415,8995.814612,9778.804331,9167.794632,...,23433.991504,34716.469392,20906.288393,31263.692078,19271.336136,26839.554679,19151.525983,31219.370688,18386.879462,29532.920867
13,"Balance on goods, services, and primary income",31687.482237,29415.705485,32847.971121,32314.219003,37559.471705,37708.545793,38318.012128,26935.178778,28941.951324,...,55847.702679,34997.155716,52887.270689,10879.55126,55528.34378,51882.044274,62080.996328,37826.144721,44431.584281,20345.058033
14,"Secondary income, credit",1659.638157,1312.252848,1512.329929,1727.203093,2300.858758,2140.445917,1468.623934,1470.434532,1612.176479,...,6734.167761,7915.695053,7091.183317,9643.553264,6957.32929,7540.773647,6440.634369,8198.481401,5920.100593,6955.311534
15,"Secondary income, debit",7333.789478,3075.014205,3817.248715,4124.318041,5643.454101,3921.038854,3740.353181,3906.251381,3607.609398,...,11477.013365,10674.1756,11735.650321,12861.246159,17182.538239,13594.19665,13334.69359,12556.54141,11888.57099,11927.588552
16,Capital account (excludes reserves and related...,-7127.982184,-3388.56348,-5091.198936,-859.897592,-4563.825432,-932.079233,-2897.895704,-864.632413,-1233.699964,...,-1850.468323,-671.188082,-864.98593,-200.562078,-536.983836,-329.990391,-906.235806,-317.751285,-1856.983185,-743.997975
17,"Capital account, credit",160.519468,238.039489,173.97655,173.379686,241.884584,184.060378,171.380447,183.584197,256.160054,...,75.453778,3005.236956,77.12823,37.817172,243.869158,290.721755,78.276442,155.305393,63.123377,89.054089
18,"Capital account, debit",7288.501652,3626.60297,5265.175486,1033.277278,4805.710016,1116.139611,3069.276152,1048.21661,1489.860018,...,1925.922101,3676.425037,942.11416,238.37925,780.852994,620.712146,984.512248,473.056678,1920.106563,833.052064
19,Balance on current and capital account,18885.348732,24264.380647,25451.853398,29057.206463,29653.050931,34995.873623,33148.387176,23634.729516,25712.81844,...,49254.388752,31567.487087,47377.817755,7461.296286,44766.150997,45498.630881,54280.701302,33150.333427,36606.130699,14628.78304
20,Financial account (excludes reserves and relat...,24088.89299,-1469.246733,1178.834474,14570.549058,21481.472246,30898.190609,17138.331451,19826.683761,21542.942943,...,67882.982208,19586.328729,35459.895336,7239.445947,43765.026465,31816.99853,35857.675115,7866.59007,5667.386349,-12575.535444
21,"Direct investment, assets",3458.449578,9196.812726,5475.985158,6130.620852,8000.058394,7639.835415,20796.947176,8590.652007,16350.334247,...,45236.465985,56524.675545,43587.210159,52144.435168,27807.365219,22516.877718,54255.343145,23728.917236,39500.313082,32374.197521
22,Equity and investment fund shares,2778.813083,9285.960994,4649.472938,5330.505329,8099.946723,6416.869057,17919.881591,9630.423555,15500.743587,...,46227.052287,56101.816975,38946.04286,43921.516641,26057.073838,24309.276948,46438.249614,23281.599526,36611.429384,27175.572281
23,Debt instruments,679.636495,-89.148268,826.51222,800.115522,-99.888329,1222.966358,2877.065585,-1039.771548,849.59066,...,-990.586302,422.85857,4641.167299,8222.918527,1750.291381,-1792.39923,7817.093531,447.31771,2888.883698,5198.62524
24,"Direct investment, liabilities",1944.162541,7718.962658,2515.948864,2601.435967,7758.041261,-6667.246862,5436.195725,4161.178202,1428.99728,...,5894.421217,11830.153172,479.954184,46103.237573,8928.243086,6003.489595,16274.162467,-3136.244912,7783.882541,6399.914442
25,Equity and investment fund shares,2500.280628,6071.791579,1798.940865,2239.463376,7535.15759,-8122.878976,5912.036898,4225.543779,1128.557536,...,2567.698608,9079.881066,4303.63598,3097.565153,4959.244593,1682.996381,15878.46335,5279.015403,3731.417432,7178.118046
26,Debt instruments,-556.118087,1647.17108,717.008,361.972591,222.88367,1455.632114,-475.841173,-64.365577,300.439744,...,3326.722609,2750.272106,-3823.681796,43005.67242,3968.998494,4320.493214,395.699117,-8415.260315,4052.465109,-778.203604
27,"Portfolio investment, assets",17557.352098,31729.12441,68056.887371,37066.936464,-3374.814574,52739.292538,29927.448532,4070.171538,4448.017279,...,61036.854323,11875.396902,103479.912523,26967.089259,-17959.73701,47718.95047,-9142.817951,-12040.07263,25230.818062,-9543.146366
28,Equity and investment fund shares,2775.060008,8195.796716,9804.827673,11627.945433,-3384.753214,7010.043531,5815.022917,10281.328211,-3247.582951,...,11262.938311,13632.304294,29366.341452,23486.704513,-60852.282761,-33681.009296,-16681.158403,-24088.419773,5396.327822,14539.011865
29,Debt instruments,14782.29209,23533.327695,58252.059698,25438.991032,9.93864,45729.249007,24112.425614,-6211.156674,7695.600231,...,49773.916011,-1756.907392,74113.571071,3480.384746,42892.545752,81399.959766,7538.340451,12048.347143,19834.49024,-24082.158231
30,"Portfolio investment, liabilities",1301.121743,43754.437761,53563.664408,28309.622168,21273.313195,10555.583024,13738.520897,1819.293882,4859.025987,...,-26237.38835,58332.100774,-64194.331875,29097.41128,33564.834318,125811.38608,4736.421086,35371.811727,28256.604842,122788.674948
31,Equity and investment fund shares,18645.42312,27259.901418,21877.077382,36103.808032,7955.41098,-10075.792822,-5541.589409,6376.000289,6659.926287,...,-29456.943493,40041.266899,-54709.74994,-15727.360529,-25868.518669,15853.755497,2710.850603,13230.321077,-8910.738131,11592.376675
32,Debt instruments,-17344.301378,16494.536343,31686.587026,-7794.185864,13317.902215,20631.375846,19280.110307,-4556.706408,-1800.9003,...,3219.555143,18290.833875,-9484.581935,44824.771809,59433.352988,109957.630583,2025.570483,22141.49065,37167.342973,111196.298273
33,Financial derivatives (other than reserves) an...,3373.544124,836.893293,151.898526,-1733.107516,1315.487564,110.804292,17.363192,3227.585434,3801.203349,...,-4013.522295,10568.391937,-10044.091219,7000.457716,-1738.782177,12673.931191,7866.205859,9897.161205,1954.979011,2487.985917
34,"Fin. derivatives and employee stock options, a...",-18898.73121,-19625.695576,-21665.309999,-23607.66036,-25261.977117,-22920.52427,-27856.417887,-30700.479265,-32262.910165,...,-156644.832942,-142173.863278,-192846.787452,-147987.154496,-123265.2089,-163099.043552,-120595.736396,-122655.770947,-105047.972362,-117198.349593
35,"Fin. derivatives and employee stock options, l...",-22272.275334,-20462.588869,-21817.208525,-21874.552844,-26577.46468,-23031.328563,-27873.78108,-33928.064699,-36064.113514,...,-152631.310647,-152742.255215,-182802.696233,-154987.612212,-121526.426723,-175772.974742,-128461.942255,-132552.932151,-107002.951373,-119686.33551
36,"Other investment, assets",-119209.79406,-131092.965413,-53257.477338,37220.238263,-12389.84369,-24193.970221,-32229.644749,72961.251627,2025.127652,...,26100.338812,-36100.718315,338226.607357,-204926.755088,66096.863893,-42276.87309,66058.078732,-79763.531289,119141.772483,-29140.044749
37,Other equity,57.22365,13.213835,12.720828,116.596614,1166.408368,133.289765,13.434663,0,864.185638,...,5363.603377,11143.277923,6969.465455,3040.494836,4181.244814,11918.975447,8502.400264,20744.647248,12104.935061,10662.124658
38,Debt instruments,-119267.01771,-131106.179248,-53270.198165,37103.641649,-13556.252059,-24327.259986,-32243.079412,72961.251627,1160.942014,...,20736.735435,-47243.996239,331257.141902,-207967.249924,61915.619079,-54195.848537,57555.678467,-100508.178536,107036.837422,-39802.169406
39,"Other investment, liabilities",-122154.625534,-139334.28867,-36831.154029,33203.080871,-56961.939009,1509.435252,-17800.933922,63042.50476,-1206.283683,...,80820.12175,-46880.836606,503504.121174,-201254.867743,-12052.393944,-122998.987916,62168.551116,-98279.682363,144120.008906,-120434.061621
40,Other equity,...,...,...,...,...,...,...,...,...,...,-153.177011,258.306054,493.593612,173.844809,991.933051,80.38854,432.012821,406.126437,1041.962633,948.739712
41,Debt instruments,-122154.625534,-139334.28867,-36831.154029,33203.080871,-56961.939009,1509.435252,-17800.933922,63042.50476,-1206.283683,...,80973.298761,-47139.14266,503010.527562,-201428.712552,-13044.326995,-123079.376457,61736.538294,-98685.8088,143078.046273,-121382.801333
42,"Balance on current, capital, and financial acc...",-5203.544259,25733.627381,24273.018924,14486.657405,8171.578685,4097.683014,16010.055725,3808.045755,4169.875498,...,-18628.593456,11981.158358,11917.922419,221.85034,1001.124532,13681.632352,18423.026186,25283.743357,30938.74435,27204.318484
43,Net errors and omissions,13800.81407,-458.751891,316.879085,3307.60139,11270.677073,12936.841752,-9241.272395,1901.363838,-2002.766382,...,20548.986789,-11551.105334,-5155.676072,5264.983267,-4047.319218,-14282.012386,-10609.616078,-22458.95519,12787.506844,-18802.135437
44,Reserves and related items,8597.269811,25274.87549,24589.898009,17794.258795,19442.255758,17034.524765,6768.78333,5709.409593,2167.109116,...,1920.393334,430.053024,6762.246347,5486.833606,-3046.194686,-600.380035,7813.410108,2824.788167,43726.251194,8402.183047
45,Reserve assets,8597.269811,25274.87549,24589.898009,17794.258795,19442.255758,17034.524765,6768.78333,5709.409593,2167.109116,...,1920.393334,430.053024,6762.246347,5486.833606,-3046.194686,-600.380035,7813.410108,2824.788167,43726.251194,8402.183047
46,Net credit and loans from the IMF (excluding r...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,Exceptional financing,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,This data report uses the BOP Standard Present...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,(-) Indicates that a figure is zero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,(...) Indicates a lack of statistical data tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,(K) Indicates the splice point between officia...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Data extracted from IMF Data Warehouse 4/28/20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
JP_M1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 274,Unnamed: 275,Unnamed: 276,Unnamed: 277,Unnamed: 278,Unnamed: 279,Unnamed: 280,Unnamed: 281,Unnamed: 282,Unnamed: 283
0,NaN,International Liquidity selected indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Source: International Financial Statistics (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Metadata by Country (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Indicator,NaN,Scale,Base Year,1999M01,1999M02,1999M03,1999M04,1999M05,...,2021M06,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03
7,NaN,"International Liquidity, Total Reserves exclud...",RAXG_USD,Millions,NaN,221738.350511,221007.004226,221371.314374,221918.809679,222496.783786,...,1324702.353806,1333027.043582,1371116.315188,1358141.208785,1352621.709922,1356676.611369,1356244.308426,1337102.902403,1332627.112185,1303245.904939
8,NaN,"International Reserves, Official Reserve Asset...",RAFASDR_USD,Millions,NaN,2628.113371,1311.640369,1534.308302,2472.493351,2525.235973,...,20026.416978,20067.962698,62079.207262,62384.584063,63030.677872,62383.289516,62329.767709,62275.758221,62416.579168,61858.835289
9,NaN,"International Reserves, Official Reserve Asset...",RAFAIMF_USD,Millions,NaN,8756.23714,8712.363857,8433.006072,8263.316327,7827.547813,...,10415.936828,10433.080884,10400.107926,10248.624722,10550.03205,10441.321852,10642.540716,10583.144182,11051.533016,10867.069651
10,NaN,"International Liquidity, Total Reserves exclud...",RAXGFX_USD,Millions,NaN,210354,210983,211404,211183,212144,...,1294260,1302526,1298637,1285508,1279041,1283852,1283272,1264244,1259159,1230520
11,NaN,"International Reserves, Official Reserve Asset...",RAFAGOLDV_OZT,Millions,NaN,24.22737,24.22737,24.22737,24.22737,24.22737,...,27.198881,27.198881,27.198881,27.198881,27.198881,27.198881,27.198881,27.198881,27.198881,27.198881
12,NaN,"International Liquidity, Gold Holdings, Nation...",RAFAGOLDNV_USD,Millions,NaN,1178.466516,1157.937454,1151.391219,1145.786217,1137.925646,...,47956,49658,49362,47402,48119,49078,49505,48829,51946,52825
13,NaN,"Monetary, Central Bank Survey, Net Foreign Ass...",FASAFOIL_USD,Millions,NaN,...,...,...,...,...,...,48514.932127,48056.621005,47273.140985,48396.032526,48329.08051,48398.066784,...,...,...,...
14,NaN,"Monetary, Central Bank Survey, Net Foreign Ass...",FASLFOIL_USD,Millions,NaN,...,...,...,...,...,...,223311.312217,212062.100457,218396.28652,247590.027701,221908.490981,231864.674868,...,...,...,...

In [16]:
JP_GDP

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,NaN,Gross Domestic Product and Components selected...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Source: International Financial Statistics (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Metadata by Country (IFS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Indicator,NaN,Base Year,Scale,2020,1999Q1,1999Q2,1999Q3,1999Q4,...,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4
7,NaN,"National Accounts, Current Prices, Unadjusted","National Accounts, Current Prices, Unadjusted",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,NaN,"Gross Domestic Product, Nominal, Undjusted, Do...",NGDP_NSA_XDC,NaN,NaN,...,128306800,130496300,129480500,139786200,...,136952800,144065000,137744100,126263100,131014100,143134100,135134900,133926400,130932500,141909600
9,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_NSA_XDC,NaN,NaN,...,70108500,70138400,72027400,73397600,...,76590100,77016700,74455600,67840800,71749400,75452900,71935200,71852300,71712900,76537500
10,NaN,"Government Consumption Expenditure, Nominal, U...",NCGG_NSA_XDC,NaN,NaN,...,20144100,23099300,18904600,23487800,...,25658700,30061900,26573300,29688400,26298500,30625100,27094000,30709500,27075800,31272000
11,NaN,"Gross Fixed Capital Formation, Nominal, Undjus...",NFI_NSA_XDC,NaN,NaN,...,40705400,34299600,38012500,39605700,...,35503600,35931100,39016900,30085300,32578300,34817100,37757500,31019800,33297700,35146200
12,NaN,"Change in Inventories, Nominal, Undjusted, Dom...",NINV_NSA_XDC,NaN,NaN,...,-4695900,1040700,-1483500,1433500,...,25100,1251800,-2046400,1543600,34600,742200,-2278100,1033200,5500,718900
13,NaN,"Exports of Goods and Services, Nominal, Undjus...",NX_NSA_XDC,NaN,NaN,...,12471500,12786300,13212300,13310000,...,23809600,24675000,23024300,18016200,19859900,22828800,23420300,24619200,24930900,26826700
14,NaN,"Imports of Goods and Services, Nominal, Undjus...",NM_NSA_XDC,NaN,NaN,...,10426700,10867900,11192800,11448400,...,24634300,24871400,23279400,20911200,19506700,21332100,22794100,25307700,26090300,28591600
15,NaN,"National Accounts, Constant Prices, Unadjusted","National Accounts, Constant Prices, Unadjusted",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,NaN,"Gross Domestic Product, Real, Undjusted, Domes...",NGDP_R_NSA_XDC,NaN,NaN,...,114850300,114139900,117740400,122902400,...,138090800,139285100,137531800,121970900,130626700,138101400,135068000,130840700,132175200,138708400
17,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_R_NSA_XDC,NaN,NaN,...,64820600,64282100,66615300,67369200,...,76097300,75132300,73470900,66695300,71033200,74006900,71275100,71219300,71356900,75143800
18,NaN,"Government Consumption Expenditure, Real, Undj...",NCGG_R_NSA_XDC,NaN,NaN,...,20209800,20516300,20404300,20753500,...,27427400,27899600,28049400,27963200,28156400,28873000,28772000,28794800,28709900,29145700
19,NaN,"Gross Fixed Capital Formation, Real, Undjusted...",NFI_R_NSA_XDC,NaN,NaN,...,38392500,32487100,36039500,37523200,...,34880900,34864400,38029700,29575400,31941100,34022400,36807600,29957400,31747200,33016800
20,NaN,"Change in Inventories, Real, Undjusted, Domest...",NINV_R_NSA_XDC,NaN,NaN,...,-4792200,1096300,-1519300,1511400,...,45100,1266100,-2062200,1859800,99200,717400,-2297600,1156700,176500,789400
21,NaN,"Exports of Goods and Services, Real, Undjusted...",NX_R_NSA_XDC,NaN,NaN,...,11014300,11053500,11836700,12359800,...,25726200,26542000,24817400,20009600,21791400,25048000,25068800,25406400,25336700,26524200
22,NaN,"Imports of Goods and Services, Real, Undjusted...",NM_R_NSA_XDC,NaN,NaN,...,13821500,13984700,14536200,15233100,...,26073700,26395200,24841100,24380300,22444500,24491800,24650000,25647100,25084200,25743500
23,NaN,"National Accounts, Current Prices, Seasonally ...","National Accounts, Current Prices, Seasonally ...",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,NaN,"Gross Domestic Product, Nominal, Seasonally Ad...",NGDP_SA_XDC,NaN,NaN,...,132282075,132259200,132139625,131960975,...,140575200,137524250,138469550,128131250,134745100,136526200,135891125,136173350,134730825,135186300
25,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_SA_XDC,NaN,NaN,...,71310350,71269100,71673375,71646850,...,77104850,74527475,75283625,68790950,72369825,72970175,72779375,72974625,72381025,73791300
26,NaN,"Govenment Final Consumption Expenditure, Nomin...",NCGG_SA_XDC,NaN,NaN,...,21323625,21462250,21391225,21479500,...,27892025,28112200,28051750,27908475,28608775,28590675,28628425,28910875,29433000,29164575
27,NaN,"Gross Fixed Capital Formation, Nominal, Season...",NFI_SA_XDC,NaN,NaN,...,38349800,38520975,38082400,37891375,...,36439325,34969675,35279725,33694300,33499800,33856150,34104100,34690950,34237500,34302875
28,NaN,"Change in Inventories, Nominal, Seasonally Adj...",NINV_SA_XDC,NaN,NaN,...,-904925,-964550,-844225,-963150,...,23125,212200,180325,365375,6550,-240850,-102975,-123300,-69000,-187150
29,NaN,"Exports of Goods and Services, Nominal, Season...",NX_SA_XDC,NaN,NaN,...,12669375,12924725,13047350,13192300,...,24223300,24003925,23043725,18214875,20150350,22284600,23409975,24873975,25268900,26271225
30,NaN,"Imports of Goods and Services, Nominal, Season...",NM_SA_XDC,NaN,NaN,...,10466175,10953300,11210525,11285925,...,25107425,24301200,23369600,20842725,19890150,20934550,22927775,25153750,26520600,28156550
31,NaN,"National Accounts, Constant Prices, Seasonally...","National Accounts, Constant Prices, Seasonally...",NaN,NaN,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,NaN,"Gross Domestic Product, Real, Seasonally Adjus...",NGDP_R_SA_XDC,NaN,NaN,...,116852325,117293775,117918850,117961600,...,139394150,135579725,136166425,125342575,131989350,134447950,133716950,134498075,133544100,135052650
33,NaN,"Household Consumption Expenditure, incl. NPISH...",NCP_R_SA_XDC,NaN,NaN,...,65497275,65562550,66016850,66199800,...,76168625,73400050,73991450,67611150,71210100,72342650,71775425,72264675,71561775,73293325
34,NaN,"Govenment Final Consumption Expenditure, Real,...",NCGG_R_SA_XDC,NaN,NaN,...,20183900,20382975,20619425,20700925,...,27789825,27792950,27825975,27931725,28531800,28740250,28561475,28771000,29090450,28988450
35,NaN,"Gross Fixed Capital Formation, Real, Seasonall...",NFI_R_SA_XDC,NaN,NaN,...,36125475,36467025,36082425,35994650,...,35767325,34080325,34339775,33055525,32813175,33221400,33218025,33426550,32614125,32369125
36,NaN,"Change in Inventories, Real, Seasonally Adjust...",NINV_R_SA_XDC,NaN,NaN,...,-907425,-957300,-873200,-985400,...,35600,258900,181225,651975,50100,-229950,-55000,-49350,66575,-102650
37,NaN,"Exports of Goods and Services, Real, Seasonall...",NX_R_SA_XDC,NaN,NaN,...,11176950,11277700,11762200,12030675,...,26071550,25916750,24714450,20313200,22089275,24446725,24986325,25760950,25686000,25925200
38,NaN,"Imports of Goods and Services, Real, Seasonall...",NM_R_SA_XDC,NaN,NaN,...,13900100,14158600,14517225,14952450,...,26417500,25826450,24893950,24487525,22760100,24023700,24733175,25662750,25416575,25323650
39,NaN,"Gross Domestic Product, Deflator, Seasonally A...",NGDP_D_SA_IX,NaN,NaN,...,114.334421,113.884412,113.178306,112.984331,...,101.853866,102.446681,102.706422,103.245185,103.106833,102.55933,102.640318,102.256143,101.895644,101.098084

In [17]:
KOR_price = price.loc[5]
JP_price = price.loc[4]
KOR_price = KOR_price.drop(index='Unnamed: 0', axis=0)
JP_price = JP_price.drop(index='Unnamed: 0', axis=0)
KOR_price = KOR_price.reset_index()
JP_price = JP_price.reset_index()

In [18]:
df = pd.DataFrame({'date':date})
df

            date
0     1999/01/04
1     1999/01/05
2     1999/01/06
3     1999/01/07
4     1999/01/08
...          ...
5828  2022/04/19
5829  2022/04/20
5830  2022/04/21
5831  2022/04/22
5832  2022/04/25

[5833 rows x 1 columns]

In [19]:
import datetime
df['dt'] = pd.to_datetime(df['date'])
df['quarter'] = df['dt'].dt.year.apply(str) + 'Q' + df['dt'].dt.quarter.apply(str)
df['dt'] = df['dt'].dt.strftime('%Y-%m')
df

            date       dt quarter
0     1999/01/04  1999-01  1999Q1
1     1999/01/05  1999-01  1999Q1
2     1999/01/06  1999-01  1999Q1
3     1999/01/07  1999-01  1999Q1
4     1999/01/08  1999-01  1999Q1
...          ...      ...     ...
5828  2022/04/19  2022-04  2022Q2
5829  2022/04/20  2022-04  2022Q2
5830  2022/04/21  2022-04  2022Q2
5831  2022/04/22  2022-04  2022Q2
5832  2022/04/25  2022-04  2022Q2

[5833 rows x 3 columns]

In [20]:
KOR_price['dt'] = pd.to_datetime(KOR_price['index'])
KOR_price['dt'] = KOR_price['dt'].dt.strftime('%Y-%m')
JP_price['dt'] = pd.to_datetime(JP_price['index'])
JP_price['dt'] = JP_price['dt'].dt.strftime('%Y-%m')
JP_price[4][278] = 101.1
KOR_price, JP_price

(        index       5       dt
 0    Jan 1999  61.297  1999-01
 1    Feb 1999  61.557  1999-02
 2    Mar 1999   61.66  1999-03
 3    Apr 1999  61.816  1999-04
 4    May 1999  61.712  1999-05
 ..        ...     ...      ...
 274  Nov 2021  103.87  2021-11
 275  Dec 2021  104.04  2021-12
 276  Jan 2022  104.69  2022-01
 277  Feb 2022   105.3  2022-02
 278  Mar 2022  106.06  2022-03

 [279 rows x 3 columns],
         index          4       dt
 0    Jan 1999  98.140104  1999-01
 1    Feb 1999   97.74715  1999-02
 2    Mar 1999  97.845389  1999-03
 3    Apr 1999   98.33658  1999-04
 4    May 1999   98.33658  1999-05
 ..        ...        ...      ...
 274  Nov 2021      100.1  2021-11
 275  Dec 2021      100.1  2021-12
 276  Jan 2022      100.3  2022-01
 277  Feb 2022      100.7  2022-02
 278  Mar 2022      101.1  2022-03

 [279 rows x 3 columns])

In [152]:
KOR_price_list = KOR_price.iloc[:,1].to_list()
KOR_index_list = KOR_price['dt'].to_list()
JP_price_list = JP_price.iloc[:,1].to_list()
JP_index_list = JP_price['dt'].to_list()
df['KOR_price'] = 'nan'
df['JP_price'] = 'nan'
for i in range(len(df)):
    try:
        df['KOR_price'][i] = KOR_price_list[KOR_index_list.index(df.iloc[i,1])]
        df['JP_price'][i] = JP_price_list[JP_index_list.index(df.iloc[i,1])]
    except: pass
df.head(50)

          date       dt quarter KOR_price   JP_price
0   1999/01/04  1999-01  1999Q1    61.297  98.140104
1   1999/01/05  1999-01  1999Q1    61.297  98.140104
2   1999/01/06  1999-01  1999Q1    61.297  98.140104
3   1999/01/07  1999-01  1999Q1    61.297  98.140104
4   1999/01/08  1999-01  1999Q1    61.297  98.140104
5   1999/01/09  1999-01  1999Q1    61.297  98.140104
6   1999/01/11  1999-01  1999Q1    61.297  98.140104
7   1999/01/12  1999-01  1999Q1    61.297  98.140104
8   1999/01/13  1999-01  1999Q1    61.297  98.140104
9   1999/01/14  1999-01  1999Q1    61.297  98.140104
10  1999/01/15  1999-01  1999Q1    61.297  98.140104
11  1999/01/16  1999-01  1999Q1    61.297  98.140104
12  1999/01/18  1999-01  1999Q1    61.297  98.140104
13  1999/01/19  1999-01  1999Q1    61.297  98.140104
14  1999/01/20  1999-01  1999Q1    61.297  98.140104
15  1999/01/21  1999-01  1999Q1    61.297  98.140104
16  1999/01/22  1999-01  1999Q1    61.297  98.140104
17  1999/01/23  1999-01  1999Q1    61.297  98.140104
18  1999/01/25  1999-01  1999Q1    61.297  98.140104
19  1999/01/26  1999-01  1999Q1    61.297  98.140104
20  1999/01/27  1999-01  1999Q1    61.297  98.140104
21  1999/01/28  1999-01  1999Q1    61.297  98.140104
22  1999/01/29  1999-01  1999Q1    61.297  98.140104
23  1999/01/30  1999-01  1999Q1    61.297  98.140104
24  1999/02/01  1999-02  1999Q1    61.557   97.74715
25  1999/02/02  1999-02  1999Q1    61.557   97.74715
26  1999/02/03  1999-02  1999Q1    61.557   97.74715
27  1999/02/04  1999-02  1999Q1    61.557   97.74715
28  1999/02/05  1999-02  1999Q1    61.557   97.74715
29  1999/02/08  1999-02  1999Q1    61.557   97.74715
30  1999/02/09  1999-02  1999Q1    61.557   97.74715
31  1999/02/10  1999-02  1999Q1    61.557   97.74715
32  1999/02/11  1999-02  1999Q1    61.557   97.74715
33  1999/02/12  1999-02  1999Q1    61.557   97.74715
34  1999/02/18  1999-02  1999Q1    61.557   97.74715
35  1999/02/19  1999-02  1999Q1    61.557   97.74715
36  1999/02/22  1999-02  1999Q1    61.557   97.74715
37  1999/02/23  1999-02  1999Q1    61.557   97.74715
38  1999/02/24  1999-02  1999Q1    61.557   97.74715
39  1999/02/25  1999-02  1999Q1    61.557   97.74715
40  1999/02/26  1999-02  1999Q1    61.557   97.74715
41  1999/03/02  1999-03  1999Q1     61.66  97.845389
42  1999/03/03  1999-03  1999Q1     61.66  97.845389
43  1999/03/04  1999-03  1999Q1     61.66  97.845389
44  1999/03/05  1999-03  1999Q1     61.66  97.845389
45  1999/03/08  1999-03  1999Q1     61.66  97.845389
46  1999/03/09  1999-03  1999Q1     61.66  97.845389
47  1999/03/10  1999-03  1999Q1     61.66  97.845389
48  1999/03/11  1999-03  1999Q1     61.66  97.845389
49  1999/03/12  1999-03  1999Q1     61.66  97.845389